/*<editor-fold desc="Standard Template">*/

.slide-content-wrapper.standard {
    background-color: rgba(0, 0, 0, 0.80);
    width: 25%;
    align-items: baseline;
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: white;
}
.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle {
    font-weight: bold;
}

.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle,
.slide-content-wrapper.standard .slide-content p {
    text-align: right;
}
.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle {
    text-transform: capitalize;
}

/*</editor-fold>*/
/*<editor-fold desc="Stacked Template">*/
.slide-content-wrapper.stacked {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
}
.slide-title-wrapper.stacked {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.stacked {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.stacked .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
}
.slide-content.stacked .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}
.slide-content.stacked p {
    padding: 15px 100px;
    font-weight: 500;
}
/*</editor-fold>*/
/*<editor-fold desc="Left Template">*/
.slide-content-wrapper.left {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
}
.slide-title-wrapper.left {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.left {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.left .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    width: 50%;
}
.slide-content.left .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    width: 50%;
}
.slide-content.left p {
    padding: 15px 100px;
    font-weight: 500;
    width: 50%;
}
/*</editor-fold>*/
/*<editor-fold desc="Right Template">*/
.slide-content-wrapper.right {
    text-align: center;
    display: table;
    height: 100%;
    align-items: right;
}
.slide-title-wrapper.right {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.right {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.right .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    width: 150%;
}
.slide-content.right .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    width: 150%;
}
.slide-content.right p {
    padding: 15px 100px;
    font-weight: 500;
    width: 50%;
    float: right;
}
/*</editor-fold>*/
@media screen and ( max-width:992px ) {
    .slide-content p {
        display: none;
    }
    .slide-title, .slide-subtitle {
        font-size: 23px !important;
    }
    .slide-content-wrapper.standard {
        width: 100% !important;
    }
    .slide-content {
        width: 10%;
    }
}
.scslider-wrap #iframe.slide-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.scslider-wrap iframe {
    z-index: -1 !important;
}
.scslider-wrap iframe video {
    display: none;
}
.camera-video{
    position: absolute;
    z-index: -1;
}
