/*<editor-fold desc="Standard Template">*/
.slide-content.standard {
    background-color: rgba(0, 0, 0, 0.80);
    width: 40%;
    align-items: baseline;
    position: absolute;
    padding: 15px;
    bottom: 0;
    color: white;
}
.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle {
    font-weight: bold;
}
.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle,
.slide-content-wrapper.standard .slide-content p {
    text-align: right;
}
.slide-content-wrapper.standard .slide-title, 
.slide-content-wrapper.standard .slide-subtitle {
    text-transform: capitalize;
}
.standard .scslider-button-wrapper a {
    float: right;
    margin-bottom: 5px !important;
}
/*</editor-fold>*/
/*<editor-fold desc="Stacked Template">*/
.slide-content-wrapper.stacked {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
}
.slide-title-wrapper.stacked {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.stacked {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.stacked .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
}
.slide-content.stacked .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
}
.slide-content.stacked p {
    padding: 15px 100px;
    font-weight: 500;
}
/*</editor-fold>*/
/*<editor-fold desc="Left Template">*/
.slide-content-wrapper.left {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
}
.slide-title-wrapper.left {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.left {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.left .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    width: 50%;
}
.slide-content.left .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    width: 50%;
}
.slide-content.left p {
    font-weight: 500;
    width: 50%;
}
/*</editor-fold>*/
/*<editor-fold desc="Right Template">*/
.slide-content-wrapper.right {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    align-items: right;
}
.slide-title-wrapper.right {
    display: table-cell;
    vertical-align: middle;
}
.slide-content.right {
    display: table-cell;
    vertical-align: middle;
    color: white;
}
.slide-content.right .slide-title {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 800;
    width: 150%;
}
.slide-content.right .slide-subtitle {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 800;
    width: 150%;
}
.slide-content.right p {
    font-weight: 500;
    width: 50%;
    float: right;
}
/*</editor-fold>*/
@media screen and ( max-width:992px ) {
    .slide-content p {
        display: none;
    }
    .slide-title, .slide-subtitle {
        font-size: 23px !important;
    }
    .left .scslider-button-wrapper, 
    .right .scslider-button-wrapper {
        width: 50% !important;
    }
    .slide-content-wrapper.standard {
        width: 50% !important;
    }
}
@media screen and ( max-width:767px ){
    .slide-content * {
        line-height: inherit !important;
    }
    .right .slide-title, .right .slide-subtitle, 
    .left .slide-title, .left .slide-subtitle {
        width: 100% !important;
    }
    .scslider-button-wrapper {
        font-size: 13px !important;
        width: 100% !important;
    }
    .slide-content.standard {
        width: 100% !important;
    }
    .standard .scslider-button-wrapper {
        margin: 0 !important;
    }
    .left .scslider-button-wrapper,
    .right .scslider-button-wrapper {
        width: 100% !important;
    }
}
.scslider-wrap .slide-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.scslider-wrap {
    margin-bottom: 15px;
}
.scslider-wrap .camera_pag {
    margin-top: -60px;
}
.scslider-wrap .camera_pag .camera_pag_ul {
    text-align: center;
}
.camera-video{
    z-index: -1;
}
.scslider-button1, .scslider-button2 {
    padding: 10px !important;
    text-decoration: none !important;
    border-radius: 3px !important;
    margin: 0 10px !important;
    display: inline-block;
}
.slide-content.left .scslider-button-wrapper {
    width: 50%;
}
.slide-content.right .scslider-button-wrapper {
    width: 50%;
    float: right;
    margin: 15px;
    margin-right: 0;
}
.slide-content.standard .scslider-button-wrapper {
    margin: 25px 0 15px 0;
    float: right;
}
.scslide-fadeIn {
    animation: scslide-fadeIn 1s;
}
.scslide-fadeTop {
    animation: scslide-fadeTop 1s;
}
.scslide-fadeBottom {
    animation: scslide-fadeBottom 1s;
}
.scslide-fadeLeft {
    animation: scslide-fadeLeft 1s;
}
.scslide-fadeRight {
    animation: scslide-fadeRight 1s;
}
@keyframes scslide-fadeIn {
    from { 
        opacity: 0; 
    }
    to   {
        opacity: 1; 
    }
}
@keyframes scslide-fadeTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }		
    100% {
        transform: translateY(0%);
        opacity: 1;
    }		
}
@keyframes scslide-fadeBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }		
    100% {
        transform: translateY(0%);
        opacity: 1;
    }		
}
@keyframes scslide-fadeLeft {
    
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }		
    100% {
        transform: translateY(0%);
        opacity: 1;
    }		
}
@keyframes scslide-fadeRight {
    
    0% {
        transform: translateX(100%);
        opacity: 0;
    }			
    100% {
        transform: translateY(0%);
        opacity: 1;
    }		
}